:root {
    --main-dark: #16325B;
    --main-dark-07: #16325bb9;
    --main-blue: #227B94;
    --alt-blue: #78B7D0;
    --main-yello: #FFDC7F;
}

/*  */
* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/*  */

body {
    margin: 0;
    padding: 0;
    position: relative;

}

/*  */
.main-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.main-container .win-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background-color: #333;
    padding: 10px;
    width: 80%;
    max-width: 350px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 10px;
}

.main-container .win-message span {
    display: block;
    margin: 6px 0;
}

.main-container .win-message.active {
    display: block;
}

.main-container .lay-out {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-dark-07);
    z-index: 1111;
}

.main-container .lay-out.not-active {
    display: none;
}

.main-container .lay-out span {
    position: relative;
    z-index: 11111;
    color: white;
    background-color: var(--main-blue);
    padding: 10px 14px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.main-container header {
    position: relative;
    margin: 0 auto 10px auto;
    width: 100%;
    max-width: 800px;
    border-bottom: 2px solid var(--main-dark);
    padding: 6px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
    flex-wrap: wrap;
    gap: 16px 26px;
}

.main-container header .board-btn {
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: 0.3s;
}

.main-container header .board-btn.open,
.main-container header .board-btn:hover {
    color: var(--main-blue);
    border-color: var(--main-blue);

}


.main-container header .music-btn {
    margin-right: auto;
    margin-left: 30px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #333;
    transition: 0.3s;
}

.main-container header .music-btn:hover {
    color: var(--main-blue);
}

.main-container header .time {
    margin-right: 30px;
}


.main-container header .music-btn::before {
    content: "";
    display: block;
    width: 3px;
    height: 135%;
    position: absolute;
    left: 8px;
    top: -4px;
    background-color: #333;
    transform: rotate(-45deg);
    border-radius: 5px;
    opacity: 0;
}

.main-container header .music-btn.miuted::before {
    opacity: 1;
}

.main-container header .music-btn.miuted i {
    opacity: 0.5;
}

@media(max-width:500px) {
    .main-container header {
        gap: 16px 0;
    }

    .main-container header .name {
        order: -1;
        width: 100% !important;
    }
}

.main-container .score-board {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.main-container .score-board.open {
    height: 105px;
}

.main-container .score-board .t-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.main-container .score-board span {
    width: 30%;
    text-transform: capitalize;
    text-align: center;
}

.main-container .score-board .score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    color: #333;
}



.main-container .holder {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 16px 26px;
}

.main-container .holder.done {
    opacity: 0.6;
}

.main-container .holder .card {
    height: 150px;
    width: 150px;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    position: relative;
}

@media(max-width:500px) {
    .main-container .holder .card {
        height: 75px;
        width: 75px;
    }
}

.main-container .holder .card.matched {
    pointer-events: none;
}

.main-container .holder .card.stop-flibbing {
    pointer-events: none;
}


.main-container .holder .card .front-face {
    line-height: 150px;
    text-align: center;
    background-color: var(--main-blue);
    transform: rotateY(0deg);
}

.main-container .holder .card .front-face::before {
    content: "\21";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-yello);
}

.main-container .holder .card .back-face {
    transform: rotateY(180deg);
    background-color: var(--main-yello);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.main-container .holder .card.flibbed .front-face,
.main-container .holder .card.matched .front-face {
    transform: rotateY(-180deg);
}

.main-container .holder .card.flibbed .back-face,
.main-container .holder .card.matched .back-face {
    transform: rotateY(0deg);
}

.main-container .holder .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.3s;
    border: 2px solid var(--main-dark);
}